*{
    font-size: 20px;
}
.about-header {
    margin-top: 20px;
    background: linear-gradient(120deg, #004aad, #a2d7c8);
    color: #070707;
    text-align: center;
    padding: 60px 20px;
}

.about-header h1 {
    font-size: 40px;
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.about-header p{
    color: #fff;
}

section {
    padding: 50px 20px;
    max-width: 80%;
    margin: auto;
}

h2 {
    font-size: 30px;
    color: #004aad;
    margin-bottom: 10px;
}

p {
    font-size: 25px;
    line-height: 1.6;
    color: #333;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}

.join {
    text-align: center;
}

.join-btn {
    background: #004aad;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.join-btn:hover {
    background: #038b65;
}


