
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: rgb(243, 245, 227);
    color: rgb(34, 34, 34);
}

.navbar {
    z-index: 5;
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background: #223a34;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.logo span{
    width: 10px;
}
nav a {
    font-size: 20px;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(139, 223, 229);
    font-weight: 500;
}
.sign_in {
    font-size: 18px;
    padding: 8px 18px;
    background: rgb(232, 241, 238);
    color:black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
.sign_in:hover{
    background-color:rgb(122, 222, 226);
    color: rgb(18, 25, 236);
}
.Learning:hover{
    background-color: black;
    color: white;

}
.main{
    min-height: 100vh;
}
.footer p{
    text-align: center;
    padding: 20px;
    background: rgb(2, 24, 35);
    color: #fff;
    margin-top: 40px;
}
.navbar a:hover{
    color: rgb(225, 235, 239);
    /* background-color: aqua; */
}