
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: rgb(243, 232, 215);
    color: rgb(34, 34, 34);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background: #e5ecea;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.logo span{
    width: 10px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 77, 115);
    font-weight: 500;
}
.sign_in {
    padding: 10px 18px;
    background: rgb(108, 238, 188);
    color:black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
.main{
    height: 100vh;
}
.footer {
    text-align: center;
    padding: 20px;
    background: rgb(2, 24, 35);
    color: #fff;
    margin-top: 40px;
}
