.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
}

.item1 {
  background: rgb(142, 137, 137);
  height: 50px;
  padding: 20px;
  text-align: center;
  font-size: auto;
}
.item2 {
  background: rgb(142, 137, 137);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: white;
}
.item4 {
  background: rgb(142, 137, 137);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: white;
}
body{
    background-color:gray;
}