main{
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}
.card{
    padding-top: 20px;
    border: 2px solid rgb(126, 111, 111);
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(189, 225, 225);
    transition: 0.3s ease-in-out;
}
.card img{
    width: 310px;
    height: 300px;
    border-radius: 10px;

}
.card h2{
    font-size: 50px;
}

main a{
    text-decoration: none;
    color: rgb(107, 72, 158);
}

.card:hover{
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 10px 18px rgba(0,0,0,0.15);
}