*{
    margin: 0%;
    padding: 0%;
}
main{
    height: 100vh;
}
.login{
    display: flex;  
    justify-content: center;
    align-items: center;
    
}
.f1{
    border: 2px solid black;
    width: 25vw;
    margin-top: 5%;
    border-radius: 4%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}
.f1 form{
    width: 100%;
    gap: 20px;
}
.title {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    font-size: 32px;
    color: #004D73;
}

.subtitle {
    font-size: 14px;
    color: #444;
    margin-bottom: 5px;
}
label {
    text-align: left;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 5px;
    color: #004D73;
}

input {
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}
.login-btn{
    padding: 10px 18px;
    background: rgb(108, 238, 188);
    color:black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition:all;
    transition-duration: 0.5s;
}
.login-btn:hover{
    background-color: black;
    color: white;
}