.maps-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.map-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
}

.map-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.heading h1{
    text-align: center;
    font-size: 60px;
}