.maps-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.map-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    transition: 0.3s ease-in-out;

}

.map-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.heading h1{
    text-align: center;
    font-size: 60px;
}

.map-card:hover{
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 10px 18px rgba(0,0,0,0.15);
}